@font-face {
  font-family: "iconfont"; /* Project id 5037707 */
  src: url('iconfont.woff2?t=1761748972230') format('woff2'),
       url('iconfont.woff?t=1761748972230') format('woff'),
       url('iconfont.ttf?t=1761748972230') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingchuhuancun:before {
  content: "\e649";
}

.icon-yemian:before {
  content: "\e634";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-open-blank:before {
  content: "\e606";
}

