@font-face {
  font-family: 'fxcct';
  src: url(/src/assets/fonts/txcct.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ypj';
  src: url(/src/assets/fonts/ypj.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family:'Times New Roman', Times, serif; */
  /* font-family: 'fxcct', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: 'ypj', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-weight: 400;
  line-height: 1;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}